@tailwind base;
@tailwind components;
@tailwind utilities;
/* body{background: #202020;
color:aliceblue} */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Estilos para el modo claro */
:root {
  --background-color: white;
  --text-color: black;
}

/* Estilos para el modo oscuro */
body.dark-mode {
  --background-color: #111111;
  --text-color: white;
}

.scrollbar-hide::-webkit-scrollbar {
  display: contents !important; 
}